html {
  background-image: url("/japanese-blog/backgrounds/sky-background.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100%;
}

header {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  text-align: center;
  color: red;
  margin-top: 50px;
  font-size: 20px;
}

main {
  margin: 20px auto 100px;
  display: flex;
  color: #333;
  font-size: 18px;
  border: 4px groove #ccc;
  width:700px;
}

main img {
  display: block;
  margin: 0 auto;
  padding: 0px 0px 20px 0px;
}

aside {
  flex: 0 0 150px;
  border-right: 4px groove #ccc;
  padding: 0px 0px 0px 10px;
}

aside img {
  display: block;
  margin: 0 auto;
}

section {
  padding-left: 20px;
}

footer {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  color: #666;
  font-size: 14px;
}

body {
  cursor: url(/japanese-blog/cursor.png) 0 0, auto;
  font-family: "Hina Mincho", sans-serif;
}