html {
  background-image: url("japanese-blog/backgrounds/sky-background.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100%;
}

header {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  text-align: center;
  color: red;
  margin-top: 100px;
  font-size: 20px;
}

main {
  margin: 100px auto;;
  display: flex;
  color: #333;
  font-size: 18px;
  border: 4px groove #ccc;
  width:700px;
}

main img {
  display: block;
  margin: 0 auto;
}

aside {
  flex: 0 0 150px;
  border-right: 4px groove #ccc;
}

aside img {
  display: block;
  margin: 0 auto;
}

footer {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  color: #666;
  font-size: 14px;
}

body {
  cursor: url(/japanese-blog/cursor.png), auto;
}